<section [formGroup]="formGroup">
  <div class="row no-bottom-margin">
    <!-- steps -->
    <div class="col s12 l4 cl-form-field">
      <label class="cl-input-label cl-required">{{
        'purchase-and-orders.invoice.purchase-order' | translate
      }}</label>
      <cl-select
        formControlName="purchaseStepType"
        [options]="
          purchaseStepsFacade.purchaseStepsStore
            .state$()
            .purchaseStepTypeList$()
        "
        [placeholder]="'select' | translate"
        [filterable]="true"
        clValidatorErrors
        [showValidatorErrors]="
          formGroup.controls['purchaseStepType'].touched &&
          !!formGroup.controls['purchaseStepType'].errors
        "
      />
    </div>
  </div>
  <!-- attachments -->
  <div class="row attachments">
    <div class="col s12 cl-form-field">
      <view-heading
        [title]="'attachments.upload' | translate"
        [icon]="'attach_file'"
      />
      <cl-file-uploader
        formControlName="attachedFiles"
        fileBtnType="info"
        [auto]="false"
        [customUpload]="true"
        [accept]="appFacade.appStore.state$().fileAttachmentConfig$().fileType"
        [maxFileSize]="
          appFacade.appStore.state$().fileAttachmentConfig$().maxUploadSize
        "
        [fileLimit]="
          appFacade.appStore.state$().fileAttachmentConfig$()
            .maximumNumberOfFile
        "
        [deleteConfirmDialogConfig]="confirmationConfig"
        [fileDeleteUrl]="
          'purchase-reference-attachment/deleteFile/' +
          formGroup.controls['id'].value +
          '?' +
          deleteFileHttpParams()
        "
        (onFileActionMenuOpen)="deleteAttachment($event)"
        clValidatorErrors
        [showValidatorErrors]="!!formGroup.controls['attachedFiles'].errors"
      />
    </div>
  </div>
  <!-- description -->
  <div class="row">
    <div class="col s12 cl-form-field">
      <label class="cl-input-label">{{
        'stockroom.inventory-type.description' | translate
      }}</label>
      <cl-text-area
        placeholder="..."
        formControlName="description"
        clValidatorErrors
        [showValidatorErrors]="
          formGroup.controls['description'].touched &&
          !!formGroup.controls['description'].errors
        "
      />
    </div>
  </div>
  <!-- add button -->
  <div class="row left-align">
    <div class="col s12">
      <cl-button
        [label]="addButton.label"
        [disabled]="addButton.disabled!"
        [loading]="addButton.loading!"
        [outlined]="addButton.outlined!"
        [icon]="addButton.icon"
        [iconPosition]="addButton.iconPosition"
        [size]="addButton.size"
        [styleClasses]="addButton.styleClass"
        [type]="addButton.type"
        (onClick)="addStepToList()"
      />
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <purchase-purchase-steps-item-list
        (onRemove)="removeItem($event)"
        [zipFileName]="
          purchaseStepsFacade.purchaseStepsStore
            .state$()
            .selectedPurchaseSteps$()
            .autoGeneratedCode?.toString()
        "
        [hasAction]="true"
        [items]="
          purchaseStepsFacade.purchaseStepsStore
            .state$()
            .selectedPurchaseSteps$().purchaseStepsItems!
        "
      />
    </div>
  </div>
</section>
