<view-heading
  [title]="'purchase-and-orders.invoice.invoice-goods-service' | translate"
  [icon]="'box'"
  styleClasses="no-top-margin"
/>

<section [formGroup]="invoiceForm">
  <div class="row">
    <div class="col s12 l4">
      <label class="cl-input-label cl-required">{{
        'purchase-and-orders.invoice.goods-service' | translate
      }}</label>
      <cl-select
        formControlName="goods"
        [options]="
          purchaseInvoiceFacade.purchaseInvoiceStore
            .state$()
            .orderItemsPerOrderId$()
        "
        [filterable]="true"
        optionValue="goods"
        (onSelect)="setSelectedGoods($event)"
        clValidatorErrors
        [showValidatorErrors]="
          (invoiceForm.get('goods')?.touched || false) &&
          !!invoiceForm.get('goods')?.errors
        "
      />
    </div>

    <div class="col s12 l4">
      <label class="cl-input-label">{{
        'base-data.counting-unit.type' | translate
      }}</label>
      <cl-input-text formControlName="countingUnitTitle" />
    </div>
    <div class="col s12 l4">
      <label class="cl-input-label cl-required">{{
        'purchase-and-orders.invoice.remaining-amount' | translate
      }}</label>
      <cl-input-number formControlName="remainingQuantity" />
    </div>
  </div>

  <div class="row">
    <div class="col s12 l4">
      <label class="cl-input-label cl-required">{{
        ('quantity' | translate) + '/' + ('value' | translate)
      }}</label>
      <cl-input-number
        formControlName="quantity"
        [maxFractionDigits]="invoiceForm.get('isGoodsFloat')?.value ? 2 : 0"
        (onInputChange)="calculateTotalPrice()"
        placeholder="..."
        clValidatorErrors
        [showValidatorErrors]="
          (invoiceForm.get('quantity')?.touched || false) &&
          !!invoiceForm.get('quantity')?.errors
        "
      />
    </div>
    <div class="col s12 l4">
      <label class="cl-input-label cl-required">{{
        'unit-price' | translate
      }}</label>
      <cl-input-number
        formControlName="fee"
        (onInputChange)="calculateTotalPrice()"
        [useGrouping]="true"
        [suffix]="'currency.rial' | translate"
        placeholder="..."
        clValidatorErrors
        [showValidatorErrors]="
          (invoiceForm.get('fee')?.touched || false) &&
          !!invoiceForm.get('fee')?.errors
        "
      />
    </div>
    <div class="col s12 l4">
      <label class="cl-input-label">{{ 'discount-amount' | translate }}</label>
      <cl-input-number
        formControlName="discountAmount"
        [useGrouping]="true"
        [suffix]="'currency.rial' | translate"
        (onInputChange)="calculateTotalPrice()"
        placeholder="..."
      />
    </div>
  </div>
  <div class="row">
    <div class="col s12 l4">
      <label class="cl-input-label">{{ 'tax-amount' | translate }}</label>
      <cl-input-number
        formControlName="taxAmount"
        [useGrouping]="true"
        (onInputChange)="calculateTotalPrice()"
        [suffix]="'currency.rial' | translate"
        placeholder="..."
      />
    </div>
    <div class="col s12 l4">
      <label class="cl-input-label">{{ 'additions-amount' | translate }}</label>
      <cl-input-number
        formControlName="additionsAmount"
        [useGrouping]="true"
        placeholder="..."
        [suffix]="'currency.rial' | translate"
      />
    </div>
    <div class="col s12 l4">
      <label class="cl-input-label">{{
        'deductions-amount' | translate
      }}</label>
      <cl-input-number
        formControlName="deductionsAmount"
        [useGrouping]="true"
        [suffix]="'currency.rial' | translate"
        placeholder="..."
        (onInputChange)="calculateTotalPrice()"
      />
    </div>
  </div>
</section>
<section [formGroup]="invoiceForm">
  <div class="row">
    <div class="col s8">
      <label class="cl-input-label">{{ 'description' | translate }}</label>
      <cl-text-area
        formControlName="description"
        [maxLength]="500"
        [showLength]="true"
        [placeholder]="'description' | translate"
      />
    </div>
    <div class="col s4">
      <label class="cl-input-label">{{
        'purchase-and-orders.invoice.final-goods-amount' | translate
      }}</label>
      <cl-input-number
        placeholder="..."
        [useGrouping]="true"
        [suffix]="'currency.rial' | translate"
        formControlName="totalPrice"
      />
    </div>
  </div>
  <div class="row left-align">
    <div class="col s12">
      <cl-button
        [label]="invoiceAdd.label"
        [disabled]="invoiceAdd.disabled!"
        [loading]="invoiceAdd.loading!"
        [outlined]="invoiceAdd.outlined!"
        [icon]="invoiceAdd.icon"
        [iconPosition]="invoiceAdd.iconPosition"
        [size]="invoiceAdd.size"
        [styleClasses]="invoiceAdd.styleClass"
        [type]="invoiceAdd.type"
        (onClick)="addInvoiceToList()"
      />
    </div>
  </div>
</section>
<cl-divider />
<view-heading
  [title]="'purchase-and-orders.invoice.goods-service-list' | translate"
  [icon]="'box'"
/>
<section class="bottom-margin">
  <purchase-purchase-invoice-item-list
    [items]="filteredInvoiceItems"
    [hasAction]="true"
    (onRemove)="removeInvoiceItem($event)"
  />
</section>

<cl-divider />
<view-heading [title]="'other-amounts' | translate" [icon]="'box'" />
<section class="bottom-margin">
  <section [formGroup]="formGroup">
    <div class="row">
      <div class="col s12 l4">
        <label class="cl-input-label">{{
          'purchase-and-orders.invoice.additions-amount-invoice' | translate
        }}</label>
        <cl-input-number
          formControlName="additionsAmount"
          [useGrouping]="true"
          [suffix]="'currency.rial' | translate"
          (onInputChange)="calculateFinalAmount()"
        />
      </div>
      <div class="col s12 l4">
        <label class="cl-input-label">{{
          'purchase-and-orders.invoice.deductions-amount-invoice' | translate
        }}</label>
        <cl-input-number
          formControlName="deductionsAmount"
          [useGrouping]="true"
          [suffix]="'currency.rial' | translate"
          (onInputChange)="calculateFinalAmount()"
        />
      </div>
      <div class="col s12 l4">
        <label class="cl-input-label">{{
          'purchase-and-orders.invoice.final-invoice-amount' | translate
        }}</label>
        <cl-input-number
          formControlName="finalAmount"
          [useGrouping]="true"
          [suffix]="'currency.rial' | translate"
        />
      </div>
    </div>
  </section>
</section>
