@switch (view()) {
  @case ('table') {
    <cl-data-table [value]="items()"
                   [cols]="cols"
                   [actions]="actions"
                   [actionsBtnIcon]="'more_vert'"
                   [hasPaginator]="false"/>

  }

  @case('simple') {
    @for (item of items(); track item.id) {
      <div class="order-item-wrapper">
        <!-- goods code -->
        <div class="order-item-inner">
          <strong>{{'base-data.goods.code' | translate}}: </strong>
          <span>{{ item | ClObjectToString:'goodsCode' || '-'}}</span>
        </div>

        <!-- goode label -->
        <div class="order-item-inner">
          <strong>{{'base-data.goods.' | translate}}: </strong>
          <span>{{ item | ClObjectToString:'goodsLabel' || '-'}}</span>
        </div>

        <!-- counting unit title -->
        <div class="order-item-inner">
          <strong>{{'base-data.counting-unit.type' | translate}}: </strong>
          <span>{{ item | ClObjectToString:'countingUnitTitle' || '-'}}</span>
        </div>

        <!-- quantity / value -->
        <div class="order-item-inner">
          <strong>{{('quantity' | translate) + ' / ' + ('value' | translate)}}: </strong>
          <span>{{ item | ClObjectToString: 'quantity' || '-'}}</span>
        </div>

        <!-- applicant organization -->
        <div class="order-item-inner">
          <strong>{{ 'purchase-and-orders.order.applicant-organization' | translate }}: </strong>
          <span>{{ item | ClObjectToString: 'applicantOrganizationLabel' || '-'}}</span>
        </div>

        <!-- request number -->
        <div class="order-item-inner">
          <strong>{{ 'purchase-and-orders.order.request-letter-number' | translate }}: </strong>
          <span>{{ item | ClObjectToString: 'requestLetterNumber' || '-'}}</span>
        </div>

        <!-- request date -->
        <div class="order-item-inner">
          <strong>{{ 'purchase-and-orders.order.request-letter-date' | translate }}: </strong>
          <span>{{ item | ClObjectToString: 'requestLetterDatePersian' || '-'}}</span>
        </div>

        <!-- description -->
        <div class="order-item-inner">
          <strong>{{'description' | translate}}: </strong>
          <span>{{ item | ClObjectToString:'description' || '-'}}</span>
        </div>
      </div>
    }

    @if (!items() || !items().length) {
      <div class="padding center-align">{{ 'messages.no-record' | translate }}</div>
    }
  }

  @default {
    <!---->
  }
}
