@import "node_modules/@sadad/component-lib/src/styles/partials/color-variables";

.order-state {
  width: 140px !important;
  font-size: 0.8rem;

  > span:not(.cl-column-title) {
    display: inline-block;
    min-width: 110px;
    text-align: center;
    border: solid 1px transparent;
    padding: 5px 10px;
    border-radius: 20px;
  }

  &.initial-submit > span:not(.cl-column-title) {
    color: map-get($green, 'darken-2');
    background-color: map-get($green, 'lighten-5');
    border-color: map-get($green, 'darken-2');
  }
  &.wait-for-delivery > span:not(.cl-column-title) {
    color: map-get($blue-grey, 'darken-2');
    background-color: map-get($blue-grey, 'lighten-5');
    border-color: map-get($blue-grey, 'darken-2');
  }
  &.wait_for_fee_estimation > span:not(.cl-column-title) {
    color: map-get($orange, 'darken-2');
    background-color: map-get($orange, 'lighten-5');
    border-color: map-get($orange, 'darken-2');
  }
  &.wait_for_budget_acceptance > span:not(.cl-column-title) {
    color: map-get($amber, 'darken-2');
    background-color: map-get($amber, 'lighten-5');
    border-color: map-get($amber, 'darken-2');
  }
  &.wait_for_buy > span:not(.cl-column-title) {
    color: map-get($purple, 'darken-2');
    background-color: map-get($purple, 'lighten-5');
    border-color: map-get($purple, 'darken-2');
  }
  &.finish_order > span:not(.cl-column-title) {
    color: map-get($teal, 'darken-2');
    background-color: map-get($teal, 'lighten-5');
    border-color: map-get($teal, 'darken-2');
  }
  &.cancel_order > span:not(.cl-column-title) {
    color: map-get($red, 'darken-2');
    background-color: map-get($red, 'lighten-5');
    border-color: map-get($red, 'darken-2');
  }
}
