<section [formGroup]="formGroup">
  <cl-steps
    [steps]="steps"
    [readonly]="true"
    [nextBtnLabel]="'next' | translate"
    [backBtnLabel]="'back' | translate"
    [backBtnType]="'default'"
    [confirmBtnLabel]="'final-save' | translate"
    [(activeIndex)]="activeIndex"
    (activeIndexChange)="stepChange.emit($event)"
    (onConfirm)="confirm()"
    (onNext)="nextStep()"
  >
    @switch (activeIndex) { @case (0) {
    <purchase-purchase-invoice-initial-step formGroupName="initialStep" />
    } @case (1) {
    <purchase-purchase-invoice-second-step formGroupName="invoiceDetail" />
    } @case (2) {
    <purchase-purchase-invoice-third-step />
    } }
  </cl-steps>
</section>
